<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <title>Accueil</title>


</head>
<body>

  <div class="container">
      <div class="demo-headline">
        <h1 class="demo-logo">
          <div class="logo"></div>
          Flat UI
          <small>Free User Interface Kit</small>
        </h1>
      </div>
  </div>



</body>

</html>
