<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <% include header.ejs %>

    <script>

      function updB(){

      var tm = $( '#testB' ).attr('value');
      $( '#l' ).text(tm);
      $( '#testB' ).attr('value',1);
      var actual = $( '#testB' ).attr('class');
      if (actual=='btn-danger')
        {
           $('#testB').attr('class', 'btn-primary');


        }
      if (actual=='btn-primary')
        {
           $('#testB').attr('class', 'btn-success');
        }
      if (actual=='btn-success')
        {
            $('#testB').attr('class', 'btn-danger');
        }

      };

    </script>

</head>
<body>

  <span id='l' ><h1> text to test</h1> </span><br>
  <div class="btn">
    <button type="button" name="testB" class="btn-primary" id='testB' value=0 onClick="updB()" > <h4> test  </h3>
  </button>
</div>
</body>

</html>
