<!doctype html>
<html>
<head>
	<title> Locanor  </title>
	<link rel="SHORTCUT ICON" href="/images/favicon.ico" />


	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/css/bootstrap-datetimepicker.min.css"></script>
	<script src="/bootstrap-datetimepicker.min.js"></script>


	<script>
  $(function() {
	$( "#datepicker" ).datepicker({
altField: "#datepicker",
closeText: 'Fermer',
prevText: 'Précédent',
nextText: 'Suivant',
currentText: 'Aujourd\'hui',
monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
weekHeader: 'Sem.',
dateFormat: 'dd-mm-yy'
});
$('#timepicker').timepicker();
});
</script>


  <% include header_.ejs %>

</head>

<body>



  <div class="container">
  <div class="col-md-4 col-md-offset-4">
      <div class="form-area">
          <form role="form">
          <br>
					<div class="text-center">
						<h2><span class="glyphicon glyphicon-ok"></span> Checkin </h2>
						<br>

					</div>

      				<div class="form-group">
  						<input type="text" class="form-control" id="name" name="name" placeholder="Name" value=<%=user.username%> required>
  					</div>
  					<div class="form-group">
  						<input type="number" class="form-control" id="mva" name="mva" placeholder="MVA" required>
  					</div>
  					<div class="form-group">
  						<input type="text" class="form-control" id="immat" name="immat" placeholder="Immatriculation" required>
  					</div>
  					<div class="form-group">
  						<input type="text" class="form-control" id="modele" name="modele" placeholder="Modèle" required>
  					</div>
            <div class="form-group">
              <input type="number" class="form-control" id="num_contrat" name="num_contrat" placeholder="Numéro Contrat">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" id="km" name="km" placeholder="Km" required>
            </div>

            <div class='form-group'>
              <span class=" glyphicon glyphicon-calendar"></span> <input type="text" id="datepicker" placeholder="Date retour"> <span class=" glyphicon glyphicon-time"></span><input type="text" id="timepicker" placeholder="Heure retour">
            </div>

						<div class="form-group">
		        <h3> Saisie dommage </h3>
		        <div class="btn-group" data-toggle-name="saisie_dommage" data-toggle="buttons">
		        <label class="btn btn-primary active">
		        <input type="radio" name="options" id="id_saisie" autocomplete="off"> Oui
		        </label>
		        <label class="btn btn-primary">
		        <input type="radio" name="options" id="id_saisie2" autocomplete="off" checked> Non
		        </label>
		        </div>
		        </div>
		        <input type="hidden" name="saisie_dommage" value=0 />

            <select name="carburant" class="form-group form-control select select-primary" data-toggle="select">
                <option value="0" selected>Choisir le type de carburant</option>
                <option value="g0">G0</option>
                <option value="g1">G1</option>
                <option value="g1">G1</option>
                <option value="g2">G2</option>
								<option value="g3">G3</option>
								<option value="g4">G4</option>
								<option value="g5">G5</option>
								<option value="g6">G6</option>
								<option value="g7">G7</option>
								<option value="g8">G8</option>

            </select>

          <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Envoyer</button>

          </form>
      </div>
  </div>
</div>

</body>
</html>
