<!-- views/admin.ejs -->
<!doctype html>
<html>
<head>
	<title>ADMIN PAGE</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body.container 		{

		padding-top:80px;

		}
	</style>

	<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/signup">Créer compte</a></li>
  <li role="presentation"><a href="/comptes">Gérer Compte</a></li>
  <li role="presentation"><a href="/vehicule">Véhicule</a></li>
  <li role="presentation"><a href="/logout">Déconnexion</a></li>

	</ul>
</head>
<body>

    <div class="container">

      <table class = "table table-hover table-bordered">
        <tr>
        <th>Identifiant</th>
        <th>Privilège</th>
      </tr>
      <% rows.forEach(function(users){ %>
          <tr>
            <td> <%=users.username%></td>
            <td> <%=users.attribut%></td>
          </tr>
          <%})%>
      </table>


    </div>
</body>
</html>
