<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <% include header0.ejs %>
</head>
<body>

  <div class="jumbotron" style="text-align:center;padding-top:20px;">
  <h1> Confirmé </h1>
  <p> Votre modification a été prise en compte ! </p>
</div>

<script language="javascript" type="text/javascript">
window.setTimeout('window.location="http://localhost:8080/profile"; ',3000);</script>


</body>

</html>
