<!doctype html>
<html>
<head>

  <script  type="text/javascript" src="typeahead.min.js"></script>
  <script type="text/javascript">
	$(document).ready(function(){
			$('#myimmat').typeahead({
					name: 'immat',
					remote: 'http://localhost:8080/search?key=%QUERY',
					limit: 10
			});
	});
  </script>

	<% include header.ejs %>

</head>

<body>

  <div class="container">
	  <div class="col-md-5 col-md-offset-4">
	      <div class="form-area">
	          <form role="form">
	          <br>
							<div class="text-center">

								<h2><span class="glyphicon glyphicon-refresh"></span> Fiche F44 </h2>
								<br>

							</div>

  						<div class="form-group">
								<input id="myimmat" type="number" class="typeahead tt-query"  name="immat" placeholder="IMMAT" required>
								<br>
  							<input type="number" class="form-control" id="mva" name="mva" placeholder="MVA" required>
					 		</div>
	  					<!--div class="form-group">
								<input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="tapez l'immat">

	  					</div-->
	            <div class="form-group">
	            	<input type="text" class="form-control" id="name" name="name" placeholder="Nom opérateur" required>
          		</div>

							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Nom opérateur" required>
							</div>

							<div class="form-group">
								<h3> Aspiration intérieure </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="aspiration_interieur" value="0" />

							<div class="form-group">
								<h3> Lavage extérieure </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="lavage_exterieur" value="0" />

							<div class="form-group">
								<h3> Nettoyage vitre </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="nettoyage_vitre" value="0" />

							<div class="form-group">
								<h3> Nettoyage parebrise intérieur </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="nettoyage_parebrise_interieur" value="0" />

							<div class="form-group">
								<h3> Niveau huile </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="niveau_huile" value="0" />

							<div class="form-group">
								<h3> Niveau lave-glace  </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="niveau_lave_glace" value="0" />

							<div class="form-group">
								<h3> Pression pneus </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="pression_pneus" value="0" />

							<div class="form-group">
								<h3> Contrôle carrosserie </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="controle_carosserie" value="0" />

							<div class="form-group">
								<h3> Contrôle intérieur </h3>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off" value ="1"> Ok
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off" value="0" checked> À faire
									</label>
								</div>
							</div>
							<input type="hidden" name="controle_interieur" value="0" />


          <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Envoyer</button>
					<br>
			  </form>
      </div>
  </div>
  </div>


	<script type="text/javascript">

	$(function() {
    $('div.btn-group[data-toggle-name]').each(function() {
        var group = $(this);
        var form = group.parents('form').eq(0);
        var name = group.attr('data-toggle-name');
        var hidden = $('input[name="' + name + '"]', form);
        $('label', group).each(function() {
            var button = $(this).find('input[type="radio"]');
            $(this).on('click', function() {
								console.log(button.val());
                hidden.val($(this).val());
            });
            if (button.val() == hidden.val()) {
                $(this).addClass('active');
            }
        });
    });
});
	</script>



	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>	<script type="text/javascript">

	</script>
</body>
</html>
