<!doctype html>
<html>
  <head>
    <% include header.ejs %>

    <!--Scripts-->
    <script  type="text/javascript" src="typeahead.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#myimmat').typeahead({
            hint: true,
            highlight: true,
            minLength: 1,
            name: 'users',
            remote: 'http://localhost:8080/search_immat?key=%QUERY',
        });
      });


    </script>
    <script>
      function updMVA(){
        $.ajax({
          url: 'http://localhost:8080/search_mva?key='+$( '#myimmat' ).val()+'',
          dataType: 'json',
          success : function (data) {
            $( '#mva' ).val(data);
          },
        })
      };
    </script>

    <script>
    /*  function updB(){
      var actual = ($( this ).val()+1)%3;
      if (actual==0)
        {
           $(this).toggleClass('btn btn-primary');
        }
      if (actual==1)
        {
           $(this).toggleClass('btn btn-success');
        }
      if (actual==2)
        {
           $(this).toggleClass('btn btn-danger');
        }
      $( this ).val(actual);
    };*/

    </script>

    <!--Style Sheet pour corriger Bootstrap 2->3 -->
    <style>


      .twitter-typeahead, .tt-hint { width: 100%; }
      .tt-dropdown-menu {
        width:100%;
      }
      .twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
      margin-bottom: 0;
      }
      .twitter-typeahead .tt-hint {
      display: block;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      border: 1px solid transparent;
      border-radius:4px;
      }
      .twitter-typeahead .hint-small {
      height: 30px;
      padding: 5px 10px;
      font-size: 12px;
      border-radius: 3px;
      line-height: 1.5;
      }
      .twitter-typeahead .hint-large {
      height: 45px;
      padding: 10px 16px;
      font-size: 18px;
      border-radius: 6px;
      line-height: 1.33;
      }
      .tt-dropdown-menu {
      min-width: 160px;
      margin-top: 2px;
      padding: 5px 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, .2);
      *border-right-width: 2px;
      *border-bottom-width: 2px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      }
      .tt-suggestion {
      display: block;
      padding: 3px 20px;
      }
      .tt-suggestion.tt-is-under-cursor {
      color: #fff;
      background-color: #0081c2;
      background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
      background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
      background-image: -o-linear-gradient(top, #0088cc, #0077b3);
      background-image: linear-gradient(to bottom, #0088cc, #0077b3);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
      }
      .tt-suggestion.tt-is-under-cursor a {
      color: #fff;
      }
      .tt-suggestion p {
      margin: 0;
      }
    </style>
  </head>

  <!--Body-->

  <body>
    <div class="container">
    <div class="col-md-5 col-md-offset-4">
      <div class="form-area">

        <!--Form-->
        <form role="form" action="/data_f44" method="POST" >
          <br>
          <div class="text-center">
            <h2><span class="glyphicon glyphicon-refresh"></span> Fiche F44 </h2>
            <br>
          </div>
          <div class="form-area">
        <br>

        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Nom" value=<%=user.username%> required>
        </div>

        <div class="form-group">
          <input type="text" id='myimmat'class="typeahead form-control" placeholder="Immat" onFocus="updMVA()" />
        </div>

        <div class="form-group">
          <input type="number" class="typeahead form-control" id="mva" name="MVA" placeholder="MVA"  required>
        </div>

        <div class="form-group">


        <div class="form-group">
          <h3> Aspiration intérieure </h3>
          <div class="btn-group" data-toggle-name="aspiration_interieur" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="radio" name="n_aspiration_interieur2" id="id_aspiration_interieur2" autocomplete="off" checked> À faire
            </label>

            <label class="btn btn-primary active">
              <input type="radio" name="n_aspiration_interieur" id="id_aspiration_interieur" autocomplete="off"> Fait
            </label>

            <input type="hidden" name="aspiration_interieur" value=0 />
          </div>
        </div>

        <div class="form-group">
        <h3> Lavage extérieure </h3>
        <div class="btn-group" data-toggle-name="lavage_exterieur" data-toggle="buttons">
          <label class="btn btn-primary">
          <input type="radio" name="options" id="id_lavage_exterieur2" autocomplete="off" checked> À faire
          </label>

        <label class="btn btn-primary active">
        <input type="radio" name="options" id="id_lavage_exterieur" autocomplete="off"> Fait
        </label>

        </div>
        </div>
        <input type="hidden" name="lavage_exterieur" value=0 />
        <div class="form-group">
        <h3> Nettoyage vitre </h3>
        <div class="btn-group" data-toggle-name="nettoyage_vitre" data-toggle="buttons">

        <label class="btn btn-primary">
        <input type="radio" name="options" id="id_nettoyage_vitre2" autocomplete="off" checked> À faire
        </label>

        <label class="btn btn-primary active">
        <input type="radio" name="options" id="id_nettoyage_vitre" autocomplete="off"> Fait
        </label>

        </div>
        </div>
        <input type="hidden" name="nettoyage_vitre" value=0 />
        <div class="form-group">
        <h3> Nettoyage parebrise intérieur </h3>
        <div class="btn-group" data-toggle-name="nettoyage_parebrise_interieur" data-toggle="buttons">

        <label class="btn btn-primary">
        <input type="radio" name="options" id="id_nettoyage_parebrise_interieur2" autocomplete="off" checked> À faire
        </label>

        <label class="btn btn-primary active">
        <input type="radio" name="options" id="id_nettoyage_parebrise_interieur" autocomplete="off"> Fait
        </label>

        </div>
        </div>
        <input type="hidden" name="nettoyage_parebrise_interieur" value=0 />
        <div class="form-group">
        <h3> Niveau huile </h3>
        <div class="btn-group" data-toggle-name="niveau_huile" data-toggle="buttons">
          <label class="btn btn-primary">
          <input type="radio" name="options" id="id_niveau_huile2" autocomplete="off" checked> À faire
          </label>

        <label class="btn btn-primary active">
        <input type="radio" name="options" id="id_niveau_huile" autocomplete="off"> Fait
        </label>

        </div>
        </div>
        <input type="hidden" name="niveau_huile" value=0 />
        <div class="form-group">
        <h3> Niveau lave-glace  </h3>
        <div class="btn-group" data-toggle-name="niveau_lave_glace" data-toggle="buttons">

          <label class="btn btn-primary">
          <input type="radio" name="options" id="id_niveau_lave_glace2" autocomplete="off" checked> À faire
          </label>

        <label class="btn btn-primary active">
        <input type="radio" name="options" id="id_niveau_lave_glace" autocomplete="off"> Fait
        </label>

        </div>
        </div>
        <input type="hidden" name="niveau_lave_glace" value=0 />
        <div class="form-group">
        <h3> Pression pneus </h3>
        <div class="btn-group" data-toggle-name="pression_pneus" data-toggle="buttons">

          <label class="btn btn-primary">
          <input type="radio" name="options" id="id_pression_pneus2" autocomplete="off" checked> À faire
          </label>

        <label class="btn btn-primary active">
        <input type="radio" name="options" id="id_pression_pneus" autocomplete="off"> Fait
      </label>

        </div>
        </div>
        <input type="hidden" name="pression_pneus" value=0 />
        <div class="form-group">
        <h3> Contrôle carrosserie </h3>
        <div class="btn-group"  data-toggle-name="controle_carosserie" data-toggle="buttons">

          <label class="btn btn-primary">
          <input type="radio" name="options" id="id_controle_carosserie2" autocomplete="off" checked> À faire
          </label>

        <label class="btn btn-primary active">
        <input type="radio" name="options" id="id_controle_carosserie" autocomplete="off"> Fait
        </label>

        </div>
        </div>
        <input type="hidden" name="controle_carosserie" value=0 />
        <div class="form-group">
        <h3> Contrôle intérieur </h3>
        <div class="btn-group" data-toggle-name="controle_interieur" data-toggle="buttons">

          <label class="btn btn-primary">
          <input type="radio" name="options" id="id_controle_interieur2" autocomplete="off" checked> À faire
          </label>

        <label class="btn btn-primary active">
        <input type="radio" name="options" id="id_controle_interieur" autocomplete="off"> Fait
        </label>

        </div>
        </div>
        <input type="hidden" name="controle_interieur" value=0 />

			  <p data-toggle="tooltip" title="su"><button class="btn btn-primary pull-right"data-toggle="modal" data-target="#delete">Envoyer</button></p>

        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
          <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading"> Confirmer cette entrée </h4>
          </div>
              <div class="modal-body">

           <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Merci de confirmer cotre saisie </div>

          </div>
            <div class="modal-footer ">
            <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Confirmer </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Vérifier </button>
          </div>
          </div>
        <!-- /.modal-content -->
        </div>
          <!-- /.modal-dialog -->
        </div>

        </div>

        <!--button type="submit" id="bsub" name="submit" class="btn btn-primary pull-right">Envoyer</button-->
        </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      $(function() {
         $('div.btn-group[data-toggle-name]').each(function() {
             var group = $(this);
             var form = group.parents('form').eq(0);
             var name = group.attr('data-toggle-name');
             var hidden = $('input[name="' + name + '"]', form);
             $('label', group).each(function() {
                 var button = $(this).find('input[type="radio"]');
                 $(this).on('click', function() {

                     hidden.val($(this).val());
                 });
                 if (button.val() == hidden.val()) {
                     $(this).addClass('active');
                 }
             });
         });
      });
    </script>

  </body>
</html>
