<!-- views/fail.ejs -->
<!doctype html>
<html>
<head>
</head>
<body>

  <div class="jumbotron" style="text-align:center;padding-top:20px;">
  <h1> Erreur </h1>
  <p>L'importation a échoué. Veuillez réessayer. </p>
</div>

<script language="javascript" type="text/javascript">
window.setTimeout('window.location="/importer_vehicule"; ',1000);</script>


</body>

</html>
