<!doctype html>
<html>
<head>
	<title> Locanor  </title>
	<link rel="SHORTCUT ICON" href="/images/favicon.ico" />
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<meta charset="utf-8">
  <!--meta name="viewport" content="width=device-width"-->
  <!--meta name="viewport" content="width=device-width, initial-scale=1" /-->
	<!--Scripts à mettre dans un footer éventuellement, pour optimiser le chargement-->

	<style>
		body 		{

    background-attachment: fixed;

	}
	</style>
</head>

<body>

<!--####-.-.-.-NAV_BAR-.-.-.-.-#########################################################-->

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <!-- display image -->
	    <div class="navbar-header">
				<a class="navbar-brand"href="/profile">
	        <img alt="Brand" src="/images/logo.jpg">
	      </a>

	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>

	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">

						<!--######-.-.-.-Véhicules-.-.-.-###################################################################-->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h3> <span class="fa fa-road"></span>  Vehicule <span class="caret"></span></h3></a>
	          <ul class="dropdown-menu">
	            <li><a href="/liste_vehicules">Liste des vehicules</a></li>
							<li role="separator" class="divider"></li>
	            <li><a href="/recuperervehicule">Recupérer</a></li>
							<li role="separator" class="divider"></li>
	            <li><a href="/transfertvehicule">Transférer</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="/preparevehicule">À préparer</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="/chercher_vehicule">Chercher/Modifier</a></li>
	          </ul>
	        </li>


				<!--######-.-.-.-Process-.-.-.-###################################################################-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h3> <span class="glyphicon glyphicon-refresh"></span>  Process <span class="caret"></span></h3></a>
					<ul class="dropdown-menu">
						<li><a href="/fvehicule"> Réception/Checkin </a></li>
						<li role="separator" class="divider"></li>
						<li><a href="/f44"> F44 préparation  </a></li>
						<% if (user.attribut == "administrateur" || user.attribut == "opérateur") { %>
						<li role="separator" class="divider"></li>
						<li><a href="/tache_reception">Assigner un travail </a></li>
						<% } %>
						<li role="separator" class="divider"></li>
						<li><a href="/historique_tache_reception"> Travail assigné </a></li>
					</ul>
				</li>

				<% if (user.attribut == "administrateur") { %>

			<!--######-.-.-.-Agence-.-.-.-###################################################################-->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h3> <span class="glyphicon glyphicon-home"></span>  Agence <span class="caret"></span></h3></a>
				<ul class="dropdown-menu">
					<li><a href="/agences"> Liste des agences </a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/chercher_agence">Chercher/Modifier</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/ajouter_agence">Ajouter</a></li>
				</ul>
			</li>


		<!--######-.-.-.-Parkings-.-.-.-###################################################################-->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h3> <span class="glyphicon glyphicon-screenshot"></span>  Parking <span class="caret"></span></h3></a>
			<ul class="dropdown-menu">
				<li><a href="/parking"> Liste des parkings </a></li>
				<li role="separator" class="divider"></li>
				<li><a href="/chercher_parking">Chercher/Modifier</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="/ajouter_parking">Ajouter</a></li>
			</ul>
		</li>
	</ul>
				<% } %>
	      <!--form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form-->

	      <ul class="nav navbar-nav navbar-right">
					<!--######-.-.-.-MON COMPTE -.-.-.-.###################################################################-->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h3><span class="fa fa-user"></span> Mon Compte <span class="caret"></span></h3></a>
	          <ul class="dropdown-menu">

							<% if (user.attribut == "administrateur") { %>
							<li><a href="/admin/signup">Ajouter un utilisateur</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/update">Gérer les utilisateurs</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/importer_vehicule">Importer des véhicules</a></li>
							<li role="separator" class="divider"></li>
							<% } %>
	            <li><a href="mailto:admin@email.fr">Contacter l'administrateur</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">Se Deconnecter</a></li>

	          </ul>
	        </li>
	      </ul>

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
		<br><br>
	</nav>
<!--#######-.-.-.-.-.-FIN NAV BAR -.-.-.-.-######################################################-->
