<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<style>
		body {
			background-repeat:no-repeat;
		}
		body.container {
			padding-top:80px;

			}
	</style>

</head>
<body>

<div class="demo-headline">
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Créer Compte</h1>


	<!-- LOGIN FORM -->
	<form action="/init" method="post">
		<div class="form-group">
			<label>Identifiant</label>
			<input type="text" class="form-control" name="username" value="admin">
		</div>
		<div class="form-group">
			<label>Choisir un mot de passe administrateur</label>
			<input type="password" class="form -control" name="password">
		</div>

		<div class="form-group">

			<select name="attribut" class="form-control select select-primary" data-toggle="select" value="administrateur">
				  <option value="0" selected>Choisir type de privilège</option>
					<option value="administrateur">Administrateur</option>
					<option value="opérateur">Opérateur</option>
					<option value="utilisateur">Utilisateur</option>
			</select>

		</div>

		<button type="submit" class="btn btn-warning btn-lg">Enregistrer</button>
	</form>

</div>

</div>
</div>

</body>

</html>
