<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>AVIS MANAGEMENT</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-user"></span> Accueil Profil Utilisateur</h1>
		<a href="/logout" class="btn btn-default btn-sm">Déconnexion</a>
	</div>

	<div class="btn-group btn-group-justified">
    <a href="/fvehicule" class="btn btn-primary">Réception Véhicule</a>
    <a href="#" class="btn btn-primary">Check in</a>
    <a href="/f44" class="btn btn-primary">Préparation f44</a>
	</div>

</div>
</body>
</html>
