<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script>


		</script>
		<% include header.ejs %>
	</head>

<div class="container">
	<div class="text-center">
		<h1><span class="fa fa-home"></span> Bienvenue, <%=user.username%></h1>
		<br>
  	</div>
</div>

</body>
</html>
