


<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="./css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

    body {
        padding-top: 90px;
        background-image:url(./images/'accueil_background_flou.jpg')
    }
    .panel-login {
    	border-color: #ccc;
    	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    }
    .panel-login>.panel-heading {
    	color: #00415d;
    	background-color: #fff;
    	border-color: #fff;
    	text-align:center;
    }
    .panel-login>.panel-heading a{
    	text-decoration: none;
    	color: #666;
    	font-weight: bold;
    	font-size: 15px;
    	-webkit-transition: all 0.1s linear;
    	-moz-transition: all 0.1s linear;
    	transition: all 0.1s linear;
    }
    .panel-login>.panel-heading a.active{
    	color: #029f5b;
    	font-size: 18px;
    }
    .panel-login>.panel-heading hr{
    	margin-top: 10px;
    	margin-bottom: 0px;
    	clear: both;
    	border: 0;
    	height: 1px;
    	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    }
    .panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    	height: 45px;
    	border: 1px solid #ddd;
    	font-size: 16px;
    	-webkit-transition: all 0.1s linear;
    	-moz-transition: all 0.1s linear;
    	transition: all 0.1s linear;
    }
    .panel-login input:hover,
    .panel-login input:focus {
    	outline:none;
    	-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;
    	border-color: #ccc;
    }
    .btn-login {
    	background-color: #59B2E0;
    	outline: none;
    	color: #fff;
    	font-size: 14px;
    	height: auto;
    	font-weight: normal;
    	padding: 14px 0;
    	text-transform: uppercase;
    	border-color: #59B2E6;
    }
    .btn-login:hover,
    .btn-login:focus {
    	color: #fff;
    	background-color: #53A3CD;
    	border-color: #53A3CD;
    }
    .forgot-password {
    	text-decoration: underline;
    	color: #888;
    }
    .forgot-password:hover,
    .forgot-password:focus {
    	text-decoration: underline;
    	color: #666;
    }
    }


    </style>
  </head>


  <body background="../images/accueil_background_flou.jpg">
    <div class="container">
        	<div class="row">
    			<div class="col-md-6 col-md-offset-3">
    				<div class="panel panel-login">
    					<div class="panel-heading">
    						<div class="row">
    							<div class="col-md-6 col-md-offset-3">
    								<a href="#" class="active" id="login-form-link">Accueil</a>
    							</div>
    						</div>
    						<hr>
    					</div>
    					<div class="panel-body">
    						<div class="row">
    							<div class="col-lg-12">
    								<form id="login-form" method="post" action="/signin" role="form" style="display: block;">
    									<div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Identifiant" value="">
                        </div>
    									</div>
    									<div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Mot de Passe">
                        </div>
    									</div>
    									<div class="form-group text-center">
    										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
    										<label for="remember"> Se souvenir de moi</label>
    									</div>
    									<div class="form-group">
    										<div class="row">
    											<div class="col-sm-6 col-sm-offset-3">
    												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Connexion">
    											</div>
    										</div>
    									</div>
    									<div class="form-group">
    										<div class="row">
    											<div class="col-lg-12">
    												<div class="text-center">
    													<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Mot de Passe oublié ?</a>
    												</div>
    											</div>
    										</div>
    									</div>
    								</form>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
 <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
