<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>

	<style>
		body {
			background-repeat:no-repeat;
		}
		body.container {
			padding-top:80px;

			}
	</style>

	<% include header.ejs %>
		    <link href="docs/css/bootstrap.min.css" rel="stylesheet">
    <link href="docs/css/highlight.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    <link href="docs/css/main.css" rel="stylesheet">
    <!--Scripts-->
        <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>  	
</head>
<body>

<div class="demo-headline">
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Créer Compte</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0 && (message[0].indexOf("ECHEC") > -1)) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0 && (message[0].indexOf("SUCCES") > -1)) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>


	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Identifiant</label>
			<input type="text" class="form-control" name="username" required>
		</div>
		<div class="form-group">
			<label>Mot de passe</label>
			<input type="password" class="form -control" name="password" required>
		</div>

		<div class="form-group">

			<select name="attribut" class="form-control select select-primary" data-toggle="select" required>
				  <option value="0" selected>Choisir type de privilège</option>
					<option value="administrateur">Administrateur</option>
					<option value="opérateur">Opérateur</option>
					<option value="préparateur">Préparateur</option>
			</select>
			<br>
			<select name="agence" class="form-control select select-primary" data-toggle="select" required>
				  	<option value="0" selected>Choisir l'agence de résidence</option>
				  	<% agence.forEach(function(agence){ %>
					<option value=<%=agence.nom%>><%=agence.nom%></option>
				  	<%})%>

			</select>

		</div>

		<button type="submit" class="btn btn-warning btn-lg">Créer le compte</button>
	</form>

</div>

</div>
</div>

</body>

</html>
