<!doctype html>
<html>
<head>
	<title> Locanor  </title>
	<link rel="SHORTCUT ICON" href="/images/favicon.ico" />

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<link href="docs/css/bootstrap.min.css" rel="stylesheet">
	<link href="docs/css/highlight.css" rel="stylesheet">
	<link href="dist/css/bootstrap-switch.css" rel="stylesheet">


	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src="dist/js/jquery.timepicker.js"></script>
	<script src="docs/css/jquery.timepicker.css"></script>

	<link href="docs/css/highlight.css" rel="stylesheet">
	<link href="docs/css/bootstrap.min.css" rel="stylesheet">

	<style>
		body 		{
		background-size:100% auto;
		background-attachment: fixed;
}

	</style>

	<style>
	input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

		.twitter-typeahead, .tt-hint { width: 100%; }
		.tt-dropdown-menu {
			width:100%;
		}
		.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
		margin-bottom: 0;
		}
		.twitter-typeahead .tt-hint {
		display: block;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		border: 1px solid transparent;
		border-radius:4px;
		}
		.twitter-typeahead .hint-small {
		height: 30px;
		padding: 5px 10px;
		font-size: 12px;
		border-radius: 3px;
		line-height: 1.5;
		}
		.twitter-typeahead .hint-large {
		height: 45px;
		padding: 10px 16px;
		font-size: 18px;
		border-radius: 6px;
		line-height: 1.33;
		}
		.tt-dropdown-menu {
		min-width: 160px;
		margin-top: 2px;
		padding: 5px 0;
		background-color: #fff;
		border: 1px solid #ccc;
		border: 1px solid rgba(0, 0, 0, .2);
		*border-right-width: 2px;
		*border-bottom-width: 2px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		}
		.tt-suggestion {
		display: block;
		padding: 3px 20px;
		}
		.tt-suggestion.tt-is-under-cursor {
		color: #fff;
		background-color: #0081c2;
		background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
		background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
		background-image: -o-linear-gradient(top, #0088cc, #0077b3);
		background-image: linear-gradient(to bottom, #0088cc, #0077b3);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
		}
		.tt-suggestion.tt-is-under-cursor a {
		color: #fff;
		}
		.tt-suggestion p {
		margin: 0;
		}
	</style>


	<% include header_.ejs %>


  </head>

  <!--Body-->

  <body>
    <div class="container">


    <div class="btn-group btn-group-lg" role="group">
        <a type="button" class="btn btn-default" href="/historique_tache_reception"><span class="glyphicon glyphicon-list">Historique</a>
    </div>

    <div class="col-md-5 col-md-offset-4">
      <div class="form-area">

        <!--Form-->
    <form role="form" action="/ajouter_tache_reception" method="POST" >
        <br>
          <div class="text-center">
            <h2><span class="glyphicon glyphicon-refresh"></span>Assigner réception</h2>
            <br>
          </div>
        <br>

        <div class="form-group">
          <input type="text" class="form-control" name="nomPreparateur" placeholder="nomPreparateur" value=<%=user.username%> >
        </div>

        <div class="form-group">
          <input type="text" id='name' class="typeahead form-control" name="operateur" placeholder="Nom de l'opérateur" >
        </div>

        <div class="form-group">
          <input type="text" id='myimmat' name="immat" class="typeahead form-control" placeholder="Immat" onFocus="updMVA()" />
        </div>

        <div class="form-group">
          <input type="number" class="typeahead form-control" id="mva" name="MVA" placeholder="MVA"  required>
        </div>

        <div class="form-group">
                  <select name="tache" class="form-control select select-primary" data-toggle="select">
                      <option value="0" selected>Choisir une tache</option>
                    <option value="immatriculation">Immatriculation</option>
                    <option value="ON MOVE">ON MOVE</option>
                    <option value="REG">REG</option>
                    <option value="MARSHALLED">MARSHALLED</option>
                  </select>
        </div>

        <div class='form-group'>
          <label> Date prévue : <label>
           <input name="date" type="text" id="datepicker" placeholder="Date prévue">
          <span class=" glyphicon glyphicon-calendar"></span>
        </div>

        <div class="form-group">
          <p>
            <label for="Contrôle intérieur"> Etat :</label>
            <input id="accompli" name="accompli" type="checkbox" unchecked data-on-text="Fait"  data-off-text="Pas fait">
          </p>
        </div>



			  <p data-toggle="tooltip" title="su"><button type="button" class="btn btn-primary pull-right"data-toggle="modal" data-target="#send">Envoyer</button></p>

        <div class="modal fade" id="send" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
          <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Confirmer cette entrée </h4>
          </div>
            <div class="modal-body">

           <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Merci de confirmer votre saisie </div>

          </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Confirmer </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Annuler </button>
          </div>
          </div>
        <!-- /.modal-content -->
        </div>
          <!-- /.modal-dialog -->
        </div>

        </div>

        <!--button type="submit" id="bsub" name="submit" class="btn btn-primary pull-right">Envoyer</button-->
        </form>
        </div>
      </div>
    </div>
    <script src="docs/js/highlight.js"></script>
    <script src="dist/js/bootstrap-switch.js"></script>
    <script src="docs/js/main.js"></script>

    <script>
    $(function() {
    $( "#datepicker" ).datepicker({
    altField: "#datepicker",
    closeText: 'Fermer',
    prevText: 'Précédent',
    nextText: 'Suivant',
    currentText: 'Aujourd\'hui',
    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
    weekHeader: 'Sem.',
    dateFormat: 'dd-mm-yy'
    });

    $("#datepicker").datepicker("setDate", new Date());
    });

    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#myimmat').typeahead({
            hint: true,
            highlight: true,
            minLength: 1,
            name: 'users',
            remote: '/search_immat?key=%QUERY',
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#name').typeahead({
            hint: true,
            highlight: true,
            minLength: 1,
            remote: '/search_name?key=%QUERY', //opérateur
        });
      });
    </script>

    <script>
      function updMVA(){
        $.ajax({
          url: '/search_mva?key='+$( '#myimmat' ).val()+'',
          dataType: 'json',
          success : function (data) {
            $( '#mva' ).val(data);
          },
        })
      };
    </script>


    <script src="docs/js/highlight.js"></script>
    <script src="dist/js/bootstrap-switch.js"></script>
    <script src="docs/js/main.js"></script>
  </body>
</html>
