body {
  padding-top: 0px;
  padding-bottom: 40px;
  background: url(images/accueil_background_flou.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.input-group{
  padding-top: 30px;
}

.nav-pills {
  background-color: white;
}

.panel{
  padding-top:30px;
}

.panel-body{
  padding-top:30px;
}
.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar .navbar-collapse {
  position: relative;
}
.navbar .navbar-collapse .navbar-right > li:last-child {
  padding-left: 22px;
}

.navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}
.navbar.navbar-default .nav-collapse {
  background-color: #222;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child {
      padding-left: 15px;
      padding-right: 15px;
      }

    .navbar {
      margin: 7.5px auto;
      padding: 0;
      }
    .navbar {
      margin: 0;
      }
}
